# ---------------------------
# Python
# ---------------------------
__pycache__/
*.py[cod]
*.so
*.pyo
*.pyd
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# ---------------------------
# Environments
# ---------------------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ---------------------------
# Jupyter
# ---------------------------
.ipynb_checkpoints
.jupyter/
*.nbconvert.ipynb

# ---------------------------
# IDE / Editor
# ---------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# ---------------------------
# OS
# ---------------------------
.DS_Store
Thumbs.db